{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edition d'un nom</h1>

    {{ form_start(form) }}
       
        {% include 'name/name.html.twig' with {'foo': 'bar'} %}

        <input class="btn btn-outline-secondary" type="submit" value="Edit" />
    {{ form_end(form) }}

   
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-outline-secondary">
            {{ form_end(delete_form) }}
       
{% endblock %}
