{% extends 'base.html.twig' %}

{% block body %}


<div ng-app="myapp" ng-controller="usersController as vm_users">



<h1>Fichiers utilisateurs</h1>

  <table class="table">
        <thead>
            <tr>
              
                <th></th>
                <th>Nom</th>
                <th>Taille</th>
        
                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for file in files %}
        <tr>    
            <td>
            </td>
            <td>    
                {{file.getSize()}}
            </td>
            <td>
                {{file.getRealpath()}}
            </td>
        </tr>
        {% endfor %}

       
        </tbody>
    </table>

    

</div>

  
{% endblock %}



